<ion-header>
  <ion-toolbar>
    <ion-title>Registrazione</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h1>Registrazione</h1>

  <ion-list>
    <form *ngIf="playerForm" [formGroup]="playerForm" (ngSubmit)="submitForm()">
      <ion-item>
        <ion-icon name="person-outline"></ion-icon>
        <ion-input formControlName="nickname"
                   type="text"
                   placeholder="Inserisci il tuo nickname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="at-outline"></ion-icon>
        <ion-input formControlName="email"
                   type="email"
                   email
                   placeholder="Inserisci la tua email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-input formControlName="age"
                   type="number"
                   placeholder="Inserisci la tua età"></ion-input>
      </ion-item>


      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block">Prosegui</ion-button>
        </ion-col>
      </ion-row>
    </form>


  </ion-list>
</ion-content>
