<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Entrants
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment>
    <ion-segment-button value="first" content-id="first">
      <ion-label>{{"Player"}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="second" content-id="second">
      <ion-label>{{"Teams"}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-segment-view>
    <ion-segment-content id="first">
        <ion-list [inset]="true">
          <ion-item>Player 1</ion-item>
          <ion-item>Player 2</ion-item>
          <ion-item>Player 3</ion-item>
          <ion-item>Player 4</ion-item>
        </ion-list>
    </ion-segment-content>
    <ion-segment-content id="second">
        <ion-list [inset]="true">
          <ion-item>Team 1</ion-item>
          <ion-item>Team 2</ion-item>
        </ion-list>
    </ion-segment-content>
  </ion-segment-view>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="primary">
      <ion-icon name="add" color="dark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
