<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Profilo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tournament-fees" href="/tabs/tournament-fees">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Iscrizioni</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tournaments" href="/tabs/tournaments">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Tornei</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="help" href="/tabs/help">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Guida</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
