.install-banner {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-self: center;
  margin: auto 0;
}

.install-guide {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-self: center;
  margin: auto 0;
}

//ion-button {
//  background: white;
//  color: #1976d2;
//  border-radius: 5px;
//  font-weight: bold;
//}
