<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tornei
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tornei</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <h2>In corso</h2>
    <div class="card-wrapper">
      @for (item of ['codbo6', 'fifa', 'fornite',]; track item) {
        <div class="card" style="background-image: url(assets/cover_games/{{item}}.png)">
          <div class="card-info">
            <h4>{{ item | uppercase }}</h4>
            <span>Torneo Round Robin</span>
          </div>

        </div>
      }
    </div>
  </div>

  <div class="ion-padding">
    <h2>Prossimamente</h2>
    <div class="ion-card-wrapper">
      @for (item of ['rainbowsix', 'tekken', 'streetfighter',]; track item) {
        <ion-card>
          <img alt="Silhouette of mountains" src="assets/cover_games/{{item}}.png" />
          <ion-card-header>
            <ion-card-title>{{item}}</ion-card-title>
            <ion-card-subtitle>Torneo round robin</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Data evento: 29/04/2028
          </ion-card-content>
        </ion-card>

<!--        <div class="card" style="background-image: url(assets/cover_games/{{item}}.png)">-->
<!--          <div class="card-info">-->
<!--            <h4>{{ item | uppercase }}</h4>-->
<!--            <span>Torneo Round Robin</span>-->
<!--          </div>-->

<!--        </div>-->
      }
    </div>
  </div>


</ion-content>
