<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Iscrizioni
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Iscrizioni</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding confirmed-column">
    <h2>Confermate</h2>

    <div class="wrapper">
      @for (fee of feeConfirmedList(); track fee) {
        <app-qrcode-fee [fee]="fee"/>
      }
    </div>
  </div>

  <div class="ion-padding to-confirm-column">
    <h2>Da confermare</h2>

    <div class="wrapper">
      @for (fee of feeDraftList(); track fee) {
        <app-qrcode-fee [fee]="fee"/>
      }

    </div>
  </div>

</ion-content>
